<% if signed_in? %>
  <div class="col-xs-12 col-md-9">
    <%= form_for(@link, :id=>"link-form") do |f| %>
      <div class="control-group">
        <div>
          <p>Insert title: <p>
          <%= f.text_field :title, :class=>"form-control" %>
        </div>
        <div>
          <p>Insert link: <p>
          <%= f.text_field :link, :class=>"form-control" %>
        </div>
        <div>
          <p>Insert section: <p>
          <%= f.text_field :section, :class=>"form-control" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.submit("Save", :class=>"btn", :name=>"save") %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-md-7 col-md-offset1">
    <p>Access denied</p>
  </div>
<% end %>
