<div class="span9">
<%= will_paginate @posts %>

<ul class="posts">
  <% @posts.each do |p| %>
    <li>
    <p><%= link_to p.title, p %> - <%= p.created_at.strftime("%b %-d, %Y") %> - <%= p.status %> - <%= p.published_at.nil? ? nil : p.published_at.strftime("%b %-d, %Y") %> - <%= link_to "edit", edit_post_path(p) %>
  </li>
<% end %>
</ul>

<%= will_paginate %>

</div>
