<% if signed_in? %>
  <div class="col-xs-12 col-md-9">
  <%= form_tag(posts_path, :id=>"post-form") do %>
    <div class="control-group">
    <div>
    <p>Insert title: <p>
    <%= text_field_tag 'post_title', nil, :class=>"form-control" %>
  </div>
  <div>
    <p>Insert body: <p>
    <%= text_area_tag 'post_body', nil, :size=>"80x20", :class=>"form-control", :rows=>"10" %>
  </div>
    <div>
      <p>Insert tags (comma separated): <p>
      <%= text_field_tag 'tags', nil, :class=>"form-control" %>
    </div>
    </div>
  <div class="control-group">
    <%= submit_tag("Save&Publish", :class=>"btn", :name=>"publish") %>
    <%= submit_tag("Save draft", :class=>"btn", :name=>"save") %>
  </div>
<% end %>
</div>
    <% else %>
    <div class="col-md-7 col-md-offset1">
      <p>Access denied</p>
    </div>
    <% end %>
