<% if signed_in? %>
  <div class="col-xs-12 col-md-9">
  <%= form_for(@post, :id=>"post-form") do |f| %>
    <div class="control-group">
    <div>
    <p>Insert title: <p>
    <%= f.text_field :title, :class=>"form-control" %>
  </div>
  <div>
    <p>Insert body: <p>
    <%= f.text_area :body, :size=>"80x20", :class=>"form-control", :rows=>"10" %>
  </div>
    <div>
      <p>Insert tags (comma separated): <p>
      <%= f.text_field :tags, :class=>"form-control" %>
    </div>
    </div>
  <div class="control-group">
    <%= f.submit("Save&Publish", :class=>"btn", :name=>"publish") %>
    <%= f.submit("Save draft", :class=>"btn", :name=>"save") %>
  </div>
<% end %>
</div>
    <% else %>
    <div class="col-md-7 col-md-offset1">
      <p>Access denied</p>
    </div>
    <% end %>
