<div class="col-xs-12 col-md-9">
    <% if !@post.nil? %>
        <div class="blogpost">
            <div class="posttitle">
                <div class="posttitle_text">
                    <p> <%= @post.title %> <%= link_to("-- edit", edit_post_path(@post), :class=>"editlink") unless (!signed_in?) %> </p>
                </div>
                <div class="posttitle_date"> <%= @post.published_at.nil? ? nil : @post.published_at.strftime("%b %-d, %Y") %> </div>
            </div>
            <hr>

            <div class="postbody">
                <%= sanitize Kramdown::Document.new(@post.body).to_html %>
            </div>

            <div class="postfooter">
                <a class="addthis_button" addthis:url="<%= request.base_url+post_path(@post) %>" addthis:title="<%= @post.title %>"></a>
                <hr/>
                
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- NicoBlog - post -->
                <ins class="adsbygoogle"
                    style="display:inline-block;width:728px;height:90px"
                    data-ad-client="ca-pub-4240414332524133"
                    data-ad-slot="5674436208"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr/>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'apinchofvalue'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                     })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
    <% end %>
</div>
