<div class="span9">
  <% if !@post.nil? %>
    <div class="blogpost">
    <div class="posttitle">
      <div class="posttitle_text">
        <p> <%= @post.title %> </p>
      </div>
      <div class="posttitle_date"> <%= @post.published_at.nil? ? nil : @post.published_at.strftime("%b %-d, %Y") %> </div>
    </div>
    <hr>

    <div class="postbody">
      <%= sanitize Kramdown::Document.new(@post.body).to_html %>
    </div>

    <div class="postfooter">
      <a href="http://twitter.com/share" class="socialite twitter-share" data-text="<%= @post.title %>"  data-url=<%= "http://"+request.host+post_path(@post) %> data-count="horizontal" data-via="il_nico" target="_blank">
        <span class="vhidden">Tweet</span>
      </a>
    </div>
  </div>
<% end %>
</div>
