<div class="span9">
    <%= will_paginate @posts %>

    <% @posts.each do |post| %>
        <div class="blogpost">
            <!-- Main body -->
            <div class="posttitle">
                <div class="posttitle_text">
                    <p> <%= link_to post.title, post_path(post) %> </p>
                </div>
                <div class="posttitle_date"> <%= post.published_at.nil? ? nil : post.published_at.strftime("%b %-d, %Y") %> </div>
            </div>
            <hr>

            <div class="postbody">
                <%= sanitize Kramdown::Document.new(post.body).to_html %>
            </div>

            <div class="postfooter">
                <!--<a href="http://twitter.com/share" class="socialite twitter-share" data-text="<%= post.title %>" data-url=<%= "http://"+request.host+post_path(post) %> data-count="horizontal" data-via="il_nico" target="_blank">
                    <span class="vhidden">Tweet</span>
                </a>-->
                <a class="addthis_button" addthis:url="<%= request.base_url+post_path(post) %>" addthis:title="<%= post.title %>"></a>
            </div>
        </div>
    <% end %>
    <%= will_paginate @posts %>
</div>
